build.vc17/lib_mpir_core2/x64/
build.vc17/.vs/
build.vc/output_params.bat
build.vc15/test-config.props
build.vc17/test-config.props
lib/x64/
build.vc17/dll_mpir_core2/x64/
build.vc17/dll_mpir_core2/dll_mpir_core2.vcxproj.user
build.vc17/lib_mpir_core2/lib_mpir_core2.vcxproj.user
dll/x64/
build.vc/.vs/mpir_config/FileContentIndex/14c3217b-2e7c-4699-bc05-1ed5cea0b3c7.vsidx
build.vc/.vs/mpir_config/v17/.suo
build.vc17/dll_mpir_gc/x64/
build.vc17/lib_mpir_gc/x64/
build.vc17/lib_mpir_cxx/x64/
build.vc17/_Out/
build.vc17/_Tmp/
build.vc17/dll_mpir_gc/dll_mpir_gc.vcxproj.user
build.vc17/lib_mpir_cxx/lib_mpir_cxx.vcxproj.user
build.vc17/lib_mpir_gc/lib_mpir_gc.vcxproj.user
test_with_boost/test_with_boost/test_with_boost.vcxproj.user
